:root {
	--dark: #1b262c;
	--secondary: #0f4c75;
	--third: #3282b8;
	--primary: #bbe1fa;
}

body {
	background-color: var(--dark);
	color: white;
}

a {
	color: var(--primary);
	text-decoration: none;
	padding: 12px 16px;
	background-color: var(--secondary);
}

a:hover {
	background-color: var(--third);
}

input {
	background-color: var(--secondary);
	color: white;
	padding: 12px 16px;
	border: none;
	outline: none;
	margin: 16px;
}

button {
	background-color: var(--secondary);
	color: white;
	padding: 12px 16px;
	border: none;
	outline: none;
	margin: 16px;
}
button:hover {
	background-color: var(--third);
}

.link-container {
	display: inline-block;
	margin: 16px;
}

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
}
.main-navigation a {
	background-color: var(--secondary);
	padding: 24px 32px;
	margin: 8px;
}

.main-navigation a:hover {
	background-color: var(--third);
}

.lists-container {
	display: flex;
}
